*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
[data-content]{
	display: none;
	margin-left: 270px;
}

.active[data-content]{
	display: block;
}

.menu{
	background: black;
	width: 15%;
	height: 100vh;
	position: fixed;
}

.nav{
	display: block;
	width: 100%;
	justify-content: center;
}
li{
	border-bottom: 2px solid papayawhip;
	margin-top: 15px;
}

li a{
	color: white;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	text-align: justify-all;
	width: 100px;
	align-items: center;
  }

a i{
	color: red;
	font-weight: 700;
	margin-left: 4px;
	text-align: center;
	margin-left: 20px;
}


.content-body{
	background: red;
	max-height: 100vh;
	width: 100%;
}
.contenidos{
	text-align: center;
	margin:15px;
}

.contenido{
	display: grid;
	grid-template-columns:repeat(4, 1fr) ;
}

.contenido-letras{
	border: 2px solid salmon;
}

.btn{
	width: 100%;
}



@media (min-width:915px){

    
}

@media (max-width:430px){
        
}